<!doctype html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Chat List</title>
</head>
<body>
    <h1>Welcome, @ViewBag.Username!</h1>
    <ul>
        @foreach (var chat in ViewBag.Chats)
        {
            <li><a href="/Home/Chat?username=@ViewBag.Username&chatId=@chat.Id">Chat @chat.Id</a></li>
        }
    </ul>
</body>
</html>
