<!doctype html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Chat List</title>
</head>
<body>
    <h1>Welcome, @ViewBag.Username!</h1>
    <ul>
        <li><a href="/Home/Chat?username=@ViewBag.Username&chatId=1">Chat 1</a></li>
        <li><a href="/Home/Chat?username=@ViewBag.Username&chatId=2">Chat 2</a></li>
        <li><a href="/Home/Chat?username=@ViewBag.Username&chatId=3">Chat 3</a></li>
    </ul>
</body>
</html>
