@{
    Layout = null;
}

<!doctype html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Choose Chat</title>
</head>
<body>
    <h2>Choose a Chat:</h2>
    <ul>
        <li><a href="/Chat/Chat1">Chat 1</a></li>
        <li><a href="/Chat/Chat2">Chat 2</a></li>
        <li><a href="/Chat/Chat3">Chat 3</a></li>
    </ul>
</body>
</html>
