<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register Page</title>
    <style>
        body {
            margin: 0;
            padding: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100vh;
            background-color: #f7f7f7;
        }

        .container {
            display: flex;
            width: 90%;
            height: 90%;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
            overflow: hidden;
        }

        .right-side {
            flex: 2;
            padding: 40px;
            background-color: #fff;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .left-side {
            flex: 3;
        }

            .left-side img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

        .register {
            max-width: 450px;
            padding: 45px;
        }

        form {
            font-size: 20px;
            line-height: 1.5;
        }

            form label {
                font-size: 16px;
            }

            form input {
                font-size: 16px;
                padding: 8px;
                margin-bottom: -2px;
                width: 100%;
            }

                form input[type=submit] {
                    font-size: 16px;
                    padding: 10px 20px;
                    background-color: #007bff;
                    color: #fff;
                    border: none;
                    cursor: pointer;
                    display: block;
                    margin: 0 auto;
                    width: 160px;
                    margin-right: 45px;
                }
    </style>
</head>

<body>
    <div class="container">
        <div class="left-side">
            <img src="~/Photo/restaurant5.jpeg" alt="Photo">
        </div>
        <div class="right-side">
            <div class="register">
                <h2>Регистрация</h2>
                <form method="post" action="/Home/Register">
                    <label for="username">Никнейм:</label><br>
                    <input type="text" id="username" name="username" required><br><br>
                    <label for="name">Имя:</label><br>
                    <input type="text" id="name" name="name" required><br><br>
                    <label for="surname">Фамилия:</label><br>
                    <input type="text" id="surname" name="surname" required><br><br>
                    <label for="email">Почта:</label><br>
                    <input type="email" id="email" name="email" required><br><br>
                    <label for="password">Пароль:</label><br>
                    <input type="password" id="password" name="password" required><br><br>
                    <input type="password" id="confirmPassword" name="confirmPassword" required><br><br>
                    <input type="submit" value="Регистрация">
                </form>
            </div>
        </div>
    </div>
</body>

</html>