<link rel="stylesheet" href="~/css/theme.css">
<style>
    button {
        background-color: #007bff;
        color: #fff;
        padding: 5px 10px;
        border: none;
        border-radius: 3px;
        cursor: pointer;
    }

        button:hover {
            background-color: #0056b3;
        }

    input, textarea {
        width: 100%;
        padding: 5px;
        margin: 5px 0;
        border: 1px solid #ccc;
        border-radius: 3px;
    }

    .search {
        width: 1430px;
    }
</style>
<div>
    <h1>Список пользователей</h1>

    <input class="search" type="text" id="searchInput" placeholder="Поиск по пользователям...">
    <ul id="userList">
        @foreach (var user in Model)
        {
            <li>@user.Username</li>
        }
    </ul>

</div>

<script src="~/js/theme.js"></script>
<script>
    document.getElementById("searchInput").addEventListener("keyup", function () {
        var input, filter, ul, li, a, i, txtValue;
        input = document.getElementById('searchInput');
        filter = input.value.toUpperCase();
        ul = document.getElementById("userList");
        li = ul.getElementsByTagName('li');

        for (i = 0; i < li.length; i++) {
            txtValue = li[i].textContent || li[i].innerText;
            if (txtValue.toUpperCase().indexOf(filter) > -1) {
                li[i].style.display = "";
            } else {
                li[i].style.display = "none";
            }
        }
    });
</script>
