﻿
<link rel="stylesheet" href="~/css/theme.css">
<style>
    button {
        background-color: #007bff;
        color: #fff;
        padding: 5px 10px;
        border: none;
        border-radius: 3px;
        cursor: pointer;
    }

        button:hover {
            background-color: #0056b3;
        }

    input, textarea {
        width: 100%;
        padding: 5px;
        margin: 5px 0;
        border: 1px solid #ccc;
        border-radius: 3px;
    }

    ul {
        list-style-type: none;
        padding: 0;
        margin-top: 80px;
    }

    li {
        padding: 10px;
        border-bottom: 1px solid #ccc;
    }

    a {
        text-decoration: none;
        color: #007bff;
    }

        a:hover {
            text-decoration: underline;
        }

    .search-container {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background-color: #0056b3;
        align-items: center;
        z-index: 9999;
        display: flex;
    }

    .search {
        margin-left: 20px;
        height: 15px;
        width: 80%;
    }

    .dark-mode body {
        background-color: #333;
        color: #fff;
    }

    .dark-mode ul {
        list-style-type: none;
        padding: 0;
        margin-top: 80px;
    }

    .dark-mode li {
        padding: 10px;
        border-bottom: 1px solid #555;
    }

    .dark-mode button {
        background-color: #555;
        color: #fff;
        padding: 5px 10px;
        border: none;
        border-radius: 3px;
        cursor: pointer;
    }

        .dark-mode button:hover {
            background-color: #777;
        }

    .dark-mode a {
        color: #007bff;
    }

        .dark-mode a:hover {
            text-decoration: underline;
        }

    .dark-mode .search-container {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        align-items: center;
        z-index: 9999;
        display: flex;
    }

    .dark-mode .search {
        margin-left: 20px;
        height: 15px;
        width: 80%;
    }

</style>
<div>
    <div class="search-container">
        <h4 class="name">@ViewBag.Username</h4>
        <div style="width: 26px; height: 26px; margin-left: 120px;"></div>
        <input class="search" type="text" id="searchInput" placeholder="Поиск по пользователям..." />
    </div>

    <ul id="userList">
        @foreach (var user in Model)
        {
            <li>
                <button onclick="window.location.href='@Url.Action("Profile", "Home", new { username = ViewBag.Username, profilename = user.Username })'">@user.Username</button>
            </li>
        }
    </ul>

</div>

<script src="~/js/theme.js"></script>
<script>
    document.getElementById("searchInput").addEventListener("keyup", function () {
        var input, filter, ul, li, a, i, txtValue;
        input = document.getElementById('searchInput');
        filter = input.value.toUpperCase();
        ul = document.getElementById("userList");
        li = ul.getElementsByTagName('li');

        for (i = 0; i < li.length; i++) {
            txtValue = li[i].textContent || li[i].innerText;
            if (txtValue.toUpperCase().indexOf(filter) > -1) {
                li[i].style.display = "";
            } else {
                li[i].style.display = "none";
            }
        }
    });
</script>