body {
    background-color: #f8f8f8; /* Default background color */
    color: #333; /* Default text color */
}

    body.dark-mode {
        background-color: #333; /* Dark background color */
        color: #fff; /* Dark text color */
    }
.dark-mode {
    background-color: #333;
    color: #fff;
}
